
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$mint-chip: #18bc9c;
$dark-blue: #2c3e50;
$light-blue: #3097d1;
$white: #ffffff;

body {
	color: $white;
	background-color: $mint-chip;
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: $dark-blue;
	border: 1px solid $dark-blue;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-header > a {
    color: $white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-header > a:hover {
    color: $light-blue;
}

.navbar-default .navbar-nav .active > a {
    color: $light-blue;
}

.navbar-default .navbar-nav .active > a:hover {
    color: $mint-chip;
}

a:hover {
	color: $white;
}

footer {
	background-color: $dark-blue;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
}

.well {
	background-color: $dark-blue;
	border: 1px solid $dark-blue;
}

@media screen and (min-width: 750px) {
	.contact-box-spacing {
		margin-top: 65px;
	}
}

#bio {
	margin: 0;
	padding-bottom: 10px;
}

.indent {
    text-indent: 50px;
}

.form-control {
	background-color: #f2f2f2;
}




